/* src/App.css */
@import 'leaflet/dist/leaflet.css';

.App {
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
}

/* Sidebar and Content styles */
.App-sidebar {
  width: 200px;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
}

.App-sidebar h1 {
  font-size: 1.5em;
  margin: 20px;
}

.App-content {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
}
